
/***********************************************/
/* Global*/
/***********************************************/


* {
    font-family: 'calibri', 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    box-sizing: border-box;
}



/******************************************************************/

/***********************************************/
/* Accueil*/
/***********************************************/

.accueil {
    width: 100%;
    height: 35vh;
    color: #fff; /* Couleur du texte */
    text-align: center; /* Centre le texte horizontalement */
    /* background: no-repeat center/cover url('../img/istockphoto-891939670-2048x2048-transformed.jpeg'); */
}

.accueil-card{
    width: 100%;
    height: 35vh;
    background:  rgba(0,0,0,0.7);
    width: 100%; 
    height: 100%;

}

.wanderlust{
    width: 18%;
}

.accueil h1 {
    font-size: 36px; /* Taille de la police du titre */
    margin-bottom: 30px; /* Espacement sous le titre */
}

.accueil p {
    padding: 20px;
    font-size: 18px; /* Taille de la police du paragraphe */
    line-height: 1.6; /* Espacement des lignes dans le paragraphe */
    will-change: transform, opacity;
    animation-duration: 1500ms;
}

.home-video{
    height: 160%;
    width: 100%;
    object-fit: cover; 
    object-position: center center; 
    opacity: 1;
}

/* Styles pour le corps de la page */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Styles pour l'en-tête (header) */
header {
    background-color: #025937;
    color: #fff;
    padding: 30px 0;
}

/***********************************************/
/* NavBar*/
/***********************************************/



nav {
    background: rgba(0,0,0,0.4);
    color: #fff; /* Couleur du texte */
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  #nav-left ul, #nav-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #nav-left ul li, #nav-right ul li {
    display: inline;
    margin-right: 20px;
  }
  
  #nav-left ul li a, #nav-right ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 20px;
  }
  
  #nav-left ul li a:hover, #nav-right ul li a:hover {
    text-decoration: underline;
  }
  
  
  #nav-right a{
    margin: 0 8px;
  }

  /* Styling pour le lien de connexion */
  #nav-right a[href*="connexionForm"] {
    color: #f39f18; /* Couleur orange pour le lien de connexion */
  }
  
  /* Styling pour le lien de création de compte */
  #nav-right a[href*="registerForm"] {
    color: #1e90ff; /* Couleur bleue pour le lien de création de compte */
  }
  
  /* Styling pour le lien de déconnexion */
  #nav-right a[href*="logout"] {
    color: #ff3333; /* Couleur rouge pour le lien de déconnexion */
  }


  
  /* Styles pour les icônes FontAwesome (le cas échéant) */
  #nav-right .fa-brands {
    font-size: 20px;
    margin-right: 10px;
  }
  
  /* Styles pour les messages d'erreur et de succès */
  .message {
    padding: 10px;
    text-align: center;
  }

/***********************************************/
/* la section principale Main*/
/***********************************************/


/* background-attachment: fixed; permet de figer l'image d'arrière-plan d'un élément par rapport à la fenêtre du navigateur, créant ainsi un effet de parallaxe où l'image reste immobile pendant que le contenu de la page défile.*/
#forum {
    padding: 20px;
    height: 100vh; /*ca prendre le taille de full screen*/
    background: no-repeat center/cover url('../img/christmas1.jpg');
    background-attachment: fixed;
}

/***********************************************/
/* le pied de page Footer*/
/***********************************************/


footer {
    background-color: #034732;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer p {
    margin: 15px;
}

/***********************************************/
/* les liens*/
/***********************************************/

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/***********************************************/
/* le formulaire de  login-register*/
/***********************************************/

.login-register {
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.login-register h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
    text-align: left;
}

.input-box label {
    display: block;
    font-weight: bold;
}

.input-box input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-login-link {
    margin-top: 10px;
}

.register-login-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* Styles pour les icônes
.icon-user,
.icon-lock {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 16px;
    color: #ccc;
} */


/***********************************************/
/* les boutons */
/***********************************************/

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/***********************************************/
/* card */
/***********************************************/


.card {
    background: rgba(0,0,0,0.7);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.card h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.card p {
    color: #fff;
}

.card a {
    display: block;
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    margin: 10px 0;
    transition: color 0.3s ease-in-out;
}

.card a:hover {
    color: #0056b3;
}

.card i {
    font-size: 16px;
    margin-left: 5px;
    color: #54626F;
}

.card .fa-circle-minus {
    color: #FF5733; /* Couleur pour l'icône de suppression */
}

.card .fa-circle-plus {
    color: #28a745; /* Couleur pour l'icône d'ajout */
}


/***********************************************/
/* Profile */
/***********************************************/

.profil {
    width: 300px; /* Largeur de la zone du profil */
    margin: 0 auto; /* Centre la zone du profil horizontalement */
    padding: 20px; /* Espacement intérieur pour le contenu du profil */
    border: 5px solid #ccc; /* Bordure autour du profil */
    background-color: #f5f5f5; /* Couleur de fond */
}

.profil h2 {
    font-style: italic; /* Texte en italique pour le nom d'utilisateur */
    margin-top: 0; /* Supprime la marge supérieure par défaut du titre */
}

.profil p {
    margin: 10px 0; /* Espacement entre les paragraphes */
    
}

.profil b {
    font-style: italic; /* Texte en italique pour les éléments en gras */
}




/***********************************************/
/* Burger Menu */
/***********************************************/


.cards-category{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    font-weight: bold;
    margin: 40px;
    border-radius: 10px;
    padding: 30px;
    font-size: 1.5em;
    color: whitesmoke;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(8px);
}


.card-category{
    
}
.card-image{
    width: 60%;
    filter: drop-shadow(0 0 20px black);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.image-category{
    width: 100%;
}